#====================================================================
# PRINT_START
#====================================================================
[gcode_macro PRINT_START]
gcode:
  _CHOME  ;Home all axes fi not already homed
  {% set BED = params.BED_TEMP|int %}
  {% set EXTRUDER = params.EXTRUDER_TEMP|int %}
  
  G0 Z30  ;Move Up
  PARK_CENTER_REAR  ;Park central rear
  M190 S{BED}  ;Set bed temperature and wait
  M109 S{EXTRUDER}  ;Set extruder temperature and wait
  BED_MESH_CLEAR  ;Clear Bed Mesh
  BED_MESH_CALIBRATE  ;Adaptive Mesh [Auto]
  BED_MESH_PROFILE LOAD=default
  PARK_CENTER_REAR  ;Park central rear
  G28 Z  ;Home Z axis
  VORON_PURGE  ;Adaptive Purge
  M221 S100  ;Set extrude factor override percentage

#====================================================================
# END_PRINT
#====================================================================
[gcode_macro PRINT_END]
gcode:
  M400  ;Clear buffer
  G90  ;Set to absolute positioning
  _MOVE_AWAY  ;Move away from print
  G92 E0   ;Reset extruder
  G1 F-25 F1800  ;Retract filament
  TURN_OFF_HEATERS  ;Turn off heaters
  PARK_CENTER_REAR  ;Park central rear
  M84  ;Disable motors





# Home only if it hasn't been done before
[gcode_macro _CHOME]
gcode:
  {% if printer["gcode_macro status_homing"] != null %}
    status_homing
  {% endif %}
  {% if printer.toolhead.homed_axes != "xyz" %}
  G28
  {% endif %}
  {% if printer["gcode_macro status_ready"] != null %}
    status_ready
  {% endif %}





# Classic purge line
[gcode_macro _PURGE_LINE]
gcode:
  {% if printer["gcode_macro status_cleaning"] != null %}
    status_cleaning
  {% endif %}
  SAVE_GCODE_STATE NAME=Pre_Prime

  G90
  G92 E0 ;Reset Extruder

  G1 Z10.0 F3000 ;Move Z Axis up
  G1 X0 Y0;
  G1 E10.0 F1800
  G1 Z0.28 F5000.0 ;Move to start position
  G1 X220 Y0 Z0.28 F1500.0 E30 ;Draw the first line
  G92 E0 ;Reset Extruder
  G1 Z10 F3000 ;Move Z Axis up
  RESTORE_GCODE_STATE NAME=Pre_Prime

  {% if printer["gcode_macro status_printing"] != null %}
    status_printing
  {% endif %}





# Slightly move the nozzle away from the print
[gcode_macro _MOVE_AWAY]
gcode:
    {% set th = printer.toolhead %}
    {% set x_safe = th.position.x + 20 * (1 if th.axis_maximum.x - th.position.x > 20 else -1) %}
    {% set y_safe = th.position.y + 20 * (1 if th.axis_maximum.y - th.position.y > 20 else -1) %}
    {% set z_safe = [th.position.z + 2, th.axis_maximum.z]|min %}

    G90                                      ; absolute positioning
    G0 X{x_safe} Y{y_safe} Z{z_safe} F20000  ; move nozzle to remove stringing





# Display Text
[gcode_macro DISPLAYTEXT]
gcode:
    {% set TEXT = params.TEXT|default("")|string %} #remove the .gcode from the file name for displaying from the Print_End Macro
    RESPOND MSG="{TEXT}"
    M117 {TEXT}





# Filament change during printing
[gcode_macro M600]
gcode:
    {% set X = params.X|default(50)|float %}
    {% set Y = params.Y|default(0)|float %}
    {% set Z = params.Z|default(10)|float %}
    SAVE_GCODE_STATE NAME=M600_state
    SET_LED_EFFECT EFFECT=critical_error FADETIME=1.0
    PAUSE
    G91
    G1 E-.8 F2700
    G1 Z{Z}
    G90
    G1 X{X} Y{Y} F3000
    G91
    G1 E-50 F1000
    RESTORE_GCODE_STATE NAME=M600_state
  {% if printer["gcode_macro status_busy"] != null %}
    status_busy
  {% endif %}





[pause_resume]
recover_velocity: 250.0





# Park toolhead used in PAUSE and CANCEL_PRINT
#From mainsail macro
[gcode_macro _TOOLHEAD_PARK_PAUSE_CANCEL]
description: Helper: park toolhead used in PAUSE and CANCEL_PRINT
variable_extrude: 1.0
gcode:
  ##### set park positon for x and y #####
  # default is your max posion from your printer.cfg
  {% set x_park = printer.toolhead.axis_maximum.x|float / 2 %}
  {% set y_park = printer.toolhead.axis_maximum.y %}
  {% set z_park_delta = 2.0 %}
  ##### calculate save lift position #####
  {% set max_z = printer.toolhead.axis_maximum.z|float %}
  {% set act_z = printer.toolhead.position.z|float %}
  {% if act_z < (max_z - z_park_delta) %}
    {% set z_safe = z_park_delta %}
  {% else %}
    {% set z_safe = max_z - act_z %}
  {% endif %}
  ##### end of definitions #####
  {% if printer.extruder.can_extrude|lower == 'true' %}
    M83
    G1 E-{extrude} F2100
    {% if printer.gcode_move.absolute_extrude |lower == 'true' %} M82 {% endif %}
  {% else %}
    {action_respond_info("Extruder not hot enough")}
  {% endif %}
  {% if "xyz" in printer.toolhead.homed_axes %}
    G91
    G1 Z{z_safe} F900
    G90
    G1 X{x_park} Y{y_park} F6000
    {% if printer.gcode_move.absolute_coordinates|lower == 'false' %} G91 {% endif %}
  {% else %}
    {action_respond_info("Printer not homed")}
  {% endif %}
  {% if printer["gcode_macro status_ready"] != null %}
    status_ready
  {% endif %}






# Pause
#From mainsail macro
[gcode_macro PAUSE]
rename_existing: PAUSE_BASE
gcode:
    PAUSE_BASE
    _TOOLHEAD_PARK_PAUSE_CANCEL
  {% if printer["gcode_macro status_busy"] != null %}
    status_busy
  {% endif %}





# Park your head back in the center without lifting it
[gcode_macro PARK_CENTER_REAR]
gcode:
    {% if printer["gcode_macro status_busy"] != null %}
      status_busy
    {% endif %}
    {% set th = printer.toolhead %}
    {% set x_safe = th.position.x + 20 * (1 if th.axis_maximum.x - th.position.x > 20 else -1) %}
    {% set y_safe = th.position.y + 20 * (1 if th.axis_maximum.y - th.position.y > 20 else -1) %}

    G0 X{th.axis_maximum.x//2} Y{th.axis_maximum.y - 2} F3600
    {% if printer["gcode_macro status_ready"] != null %}
    status_ready
    {% endif %}





# Park center front without raising the head
[gcode_macro PARK_CENTER_FRONT]
gcode:
    {% set th = printer.toolhead %}
    {% set x_safe = th.position.x + 20 * (1 if th.axis_maximum.x - th.position.x > 20 else -1) %}
  {% if printer["gcode_macro status_busy"] != null %}
    status_busy
  {% endif %}
    G0 X{th.axis_maximum.x//2} Y5 F3600
  {% if printer["gcode_macro status_ready"] != null %}
    status_ready
  {% endif %}





# Park on plate center without raising the head
[gcode_macro PARK_CENTER]
gcode:
    {% set th = printer.toolhead %}
  {% if printer["gcode_macro status_busy"] != null %}
    status_busy
  {% endif %}
    G0 X{th.axis_maximum.x//2} Y{th.axis_maximum.y//2} F3600
  {% if printer["gcode_macro status_ready"] != null %}
    status_ready
  {% endif %}





# Set bed temperature and wait
[gcode_macro M190]
rename_existing: M190.1
gcode:
  {% if printer["gcode_macro status_heating"] != null %}
    status_heating
  {% endif %}
    M190.1 { rawparams }
  {% if printer["gcode_macro status_ready"] != null %}
    status_ready
  {% endif %}





# Z OFFSET
[gcode_macro Z_OFFSET]
gcode:
  G28
  PROBE_CALIBRATE



# Z OFFSET MANUAL
[gcode_macro PROBE_MANUAL]
gcode:
  PROBE
  G91
  G1 Z+15 F1500


# PROBE POSITION
[gcode_macro PROBE_POSITION]
 gcode:
   _CLIENT_LINEAR_MOVE Z=5 F=1500
   PROBE
   _CLIENT_LINEAR_MOVE Z=10 F=1500