# This file contains pin mappings for the stock 2020 Creality Ender 3
# V2. To use this config, during "make menuconfig" select the
# STM32F103 with a "28KiB bootloader" and serial (on USART1 PA10/PA9)
# communication.

# If you prefer a direct serial connection, in "make menuconfig"
# select "Enable extra low-level configuration options" and select
# serial (on USART3 PB11/PB10), which is broken out on the 10 pin IDC
# cable used for the LCD module as follows:
# 3: Tx, 4: Rx, 9: GND, 10: VCC

# Flash this firmware by copying "out/klipper.bin" to a SD card and
# turning on the printer with the card inserted. The firmware
# filename must end in ".bin" and must not match the last filename
# that was flashed.

# See docs/Config_Reference.md for a description of parameters.

#====================================================================
# CLIENT_VARIABLE
#====================================================================

[gcode_macro _CLIENT_VARIABLE]

variable_use_custom_pos   : False ; use custom park coordinates for x,y [True/False]
variable_custom_park_x    : 0.0   ; custom x position; value must be within your defined min and max of X
variable_custom_park_y    : 0.0   ; custom y position; value must be within your defined min and max of Y
variable_custom_park_dz   : 2.0   ; custom dz value; the value in mm to lift the nozzle when move to park position
variable_retract          : 1.0   ; the value to retract while PAUSE
variable_cancel_retract   : 5.0   ; the value to retract while CANCEL_PRINT
variable_speed_retract    : 45.0  ; retract speed in mm/s
variable_unretract        : 1.0   ; the value to unretract while RESUME
variable_speed_unretract  : 45.0  ; unretract speed in mm/s
variable_speed_hop        : 15.0  ; z move speed in mm/s
variable_speed_move       : 150.0 ; move speed in mm/s
variable_park_at_cancel   : True ; allow to move the toolhead to park while execute CANCEL_PRINT [True/False]
variable_park_at_cancel_x : None  ; different park position during CANCEL_PRINT [None/Position as Float]; park_at_cancel must be True
variable_park_at_cancel_y : None  ; different park position during CANCEL_PRINT [None/Position as Float]; park_at_cancel must be True
# !!! Caution [firmware_retraction] must be defined in the printer.cfg if you set use_fw_retract: True !!!
variable_use_fw_retract   : True  ; use fw_retraction instead of the manual version [True/False]
variable_idle_timeout     : 0     ; time in sec until idle_timeout kicks in. Value 0 means that no value will be set or restored
variable_runout_sensor    : ""    ; If a sensor is defined, it will be used to cancel the execution of RESUME in case no filament is detected.
#                                   Specify the config name of the runout sensor e.g "filament_switch_sensor runout". Hint use the same as in your printer.cfg
# !!! Custom macros, please use with care and review the section of the corresponding macro.
# These macros are for simple operations like setting a status LED. Please make sure your macro does not interfere with the basic macro functions.
# Only  single line commands are supported, please create a macro if you need more than one command.
variable_user_pause_macro : ""    ; Everything inside the "" will be executed after the klipper base pause (PAUSE_BASE) function
variable_user_resume_macro: ""    ; Everything inside the "" will be executed before the klipper base resume (RESUME_BASE) function
variable_user_cancel_macro: ""    ; Everything inside the "" will be executed before the klipper base cancel (CANCEL_PRINT_BASE) function
gcode:

#====================================================================
# PRINTER ADITIONAL SETTINGS
#====================================================================

[include mainsail.cfg]
[include KAMP_Settings.cfg]
[include macros.cfg]
[exclude_object]
[firmware_retraction]

#====================================================================
# INPUT SHAPER SETTINGS
#====================================================================
#[mcu btt_lis2dw]
#serial: /dev/serial/by-id/usb-Klipper_rp2040_504450613096771C-if00

#[lis2dw]
#cs_pin: btt_lis2dw:gpio9
#spi_bus: spi1a
#spi_software_sclk_pin: btt_lis2dw:gpio10
#spi_software_mosi_pin: btt_lis2dw:gpio11
#spi_software_miso_pin: btt_lis2dw:gpio8
#axes_map: -y,x,-z

#[resonance_tester]
#probe_points: 117.5, 117.5, 20
#accel_chip: lis2dw

#====================================================================
# PRINTER SETTINGS
#====================================================================

[printer]
kinematics: corexz
max_velocity: 210
max_accel: 3000
max_z_velocity: 10
max_z_accel: 100
square_corner_velocity: 5.0

#====================================================================
# X STEPPER
#====================================================================

[stepper_x]
step_pin: PC2
dir_pin: !PB9
enable_pin: !PC3
microsteps: 16
rotation_distance: 40
endstop_pin: ^PA5
position_endstop: 225
position_min: 9
position_max: 225
homing_speed: 50

#====================================================================
# Y STEPPER
#====================================================================

[stepper_y]
step_pin: PB8
dir_pin: !PB7
enable_pin: !PC3
microsteps: 16
rotation_distance: 40
endstop_pin: ^PA6
position_endstop: 0
position_min: 0
position_max: 220
homing_speed: 50
homing_positive_dir: false

#====================================================================
# Z STEPPER
#====================================================================

[stepper_z]
step_pin: PB6
dir_pin: !PB5
enable_pin: !PC3
microsteps: 16
rotation_distance: 40
endstop_pin: probe:z_virtual_endstop
position_max: 220
position_min: -6
homing_speed: 10

#====================================================================
# EXTRUDER
#====================================================================

[extruder]
max_extrude_only_distance: 300.0
step_pin: PB4
dir_pin: PB3
enable_pin: !PC3
microsteps: 16
rotation_distance: 7.5311
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: PA1
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PC5
min_temp: 0
max_temp: 300
pressure_advance: 0.065725
min_extrude_temp: 175
max_extrude_cross_section: 5

#====================================================================
# BLTOUCH CONFIG
#====================================================================

[bltouch]
sensor_pin: ^PB1
control_pin: PB0
x_offset: -31
y_offset: -42
#z_offset: 0 ; USE PROBE_CALIBRATE to take the z_offset
stow_on_each_sample: false
probe_with_touch_mode: true


[safe_z_home]
home_xy_position: 143, 151
z_hop: 10
z_hop_speed: 100

#====================================================================
# BED MESH PARAMETERS
#====================================================================

[bed_mesh]
speed: 150
horizontal_move_z: 8
mesh_min: 35,37
mesh_max: 173,178
probe_count: 5,5
mesh_pps: 2
algorithm: bicubic
bicubic_tension: 0.2
fade_start: 1
fade_end: 10
fade_target: 0

#====================================================================
# MANUAL BED LEVELING
#====================================================================

[bed_screws]
screw1: 41, 37
screw1_name: front left screw
screw2: 41, 181
screw2_name: rear left screw
screw3: 173, 181
screw3_name: rear right screw
screw4: 41, 181
screw4_name: front right screw

#====================================================================
# SREW ADJUSTMENT
#====================================================================

[screws_tilt_adjust]
screw1: 72, 79
screw1_name: front left screw
screw2: 72, 220
screw2_name: rear left screw
screw3: 214, 220
screw3_name: rear right screw
screw4: 214, 79
screw4_name: front right screw
horizontal_move_z: 10
speed: 150
screw_thread: CW-M4

#====================================================================
# HEATED BED
#====================================================================

[heater_bed]
heater_pin: PA2
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PC4
#control: pid
# tuned for stock hardware with 50 degree Celsius target
#pid_Kp: 54.027
#pid_Ki: 0.770
#pid_Kd: 948.182
min_temp: 0
max_temp: 130

#====================================================================
# FANS
#====================================================================

[fan]
pin: PA0

#====================================================================
# SERIAL CONNECTION
#====================================================================

[mcu]
serial: /dev/serial/by-id/usb-1a86_USB_Serial-if00-port0
restart_method: command


#====================================================================
# FIRMWARE RETRACTION
#====================================================================

[firmware_retraction]
retract_length: 1
#   The length of filament (in mm) to retract when G10 is activated,
#   and to unretract when G11 is activated (but see
#   unretract_extra_length below). The default is 0 mm.
retract_speed: 45
#   The speed of retraction, in mm/s. The default is 20 mm/s.
#unretract_extra_length: 0
#   The length (in mm) of *additional* filament to add when
#   unretracting.
unretract_speed: 45
#   The speed of unretraction, in mm/s. The default is 10 mm/s.

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [bltouch]
#*# z_offset = 1.802
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 24.159
#*# pid_ki = 1.451
#*# pid_kd = 100.560
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 67.411
#*# pid_ki = 1.028
#*# pid_kd = 1104.698
#*#
#*# [input_shaper]
#*# shaper_type_x = mzv
#*# shaper_freq_x = 55.2
#*# shaper_type_y = ei
#*# shaper_freq_y = 41.6
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	  0.075000, 0.075000, 0.081250
#*# 	  0.050000, 0.025000, 0.031250
#*# 	  -0.012500, -0.018750, 0.006250
#*# x_count = 3
#*# y_count = 3
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = lagrange
#*# tension = 0.2
#*# min_x = 99.2
#*# max_x = 120.78
#*# min_y = 99.202
#*# max_y = 120.78199999999998
